.site {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include main-font1();


  &__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 82px;
    z-index: 3;

    .btn { display: none }
  }

  &__content {

  }
}
@media (min-width: $phone-landscape) {
  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

  }
}
@media (min-width: $tablet-landscape) {
  .site {

  }
}
@media (min-width: $desktop) {
  .site {


    &__header {
      display: flex;
      justify-content: center;
      padding: 36px 0;
      height: auto;

      .btn {
        @include absoluteCenterY();
        right: 75px;
        display: flex;
        margin-top: -3px;
      }
    }
  }
}

